
* {
    box-sizing: border-box;
}

/*Contenedor*/
#contenedor{
    width: 100%;
    max-width: 950px;
}

body{
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;

  background-image: url("../img/fondo.png");
}

main {
    padding: 4rem;
    background-color: rgb(238, 245, 252);
}

/*Estilos de la cabecera*/
header{
    background-color: rgba(2, 6, 34, 0.726);
}
header h1{
    padding: 1em;
    text-align: center;
    margin: 0;
    color: aliceblue;
}

/*ESTILOS DEL NAVEGADOR*/
nav ul{
    margin: 0;
    padding: 0;
    background-color: rgba(7, 25, 39, 0.945);
}
nav li{
    display: inline-block;
    margin-right: 1rem;
    padding-left: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav a{
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
}
/*Estilos e interactividad del navegador*/
nav a:hover {
    background-color: rgba(11, 82, 100, 0.815);
}
nav a:active {
    background-color: rgb(15, 9, 49);
}

/*GOOGLE FONTS*/
.tipografiaTitulo{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*Estilos e interactividad del pie de página*/
footer{
    background-color: rgba(7, 25, 39, 0.945);
    padding: 3rem;
}
address{
    color: aliceblue;
}
/*Link de contacto*/
address a:link {
    color: rgb(55, 86, 172);
}
address a:visited{
    color: rgb(91, 102, 196);
}
address a:hover {
    background-color: rgb(23, 29, 90);
}
address a:active {
    background-color: rgb(51, 57, 129);
}


/*ESTILOS PARA LAS COLUMNAS!!!*/

.contenedorColumnas {
  display: flex;
  gap: 20px; 
}

.columna {
  flex: 1; /*hace que todas las columnas ocupen el mismo espacio dentro de la página*/
  background-color: #dde7f585; 
  padding: 1rem;
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between; 
}

/*PÁGINA 1*/

.columna img {
  width: 100%;
  border-radius: 4px;
}

.columna blockquote {
  font-style: italic;
  color: #555;
  margin: 15px;
}

/*PÁGINA 2*/

.columnaAncha {
  flex: 2; 
}

.columnaAngosta {
  flex: 1; 
}

/*BOTON DE DATO CURIOSO*/

.datosEstilo {
  padding: 1rem;
  background-color: rgba(163, 218, 233, 0.479);
  border-radius: 2px;
}

/*IMAGENES DENTRO DE LA COLUMNA*/

.imagenesColumna {
  display: flex;  
  gap: 1rem;     

}

.imagenesColumna img {      
  width: 30%;
}


/*BOTON PARA ABRIR LA GALERÍA*/
.abrirCerrar{
    background-color: rgba(163, 218, 233, 0.479);
}

.fondoGaleria{
background-color: rgba(134, 213, 235, 0.479);
margin-top: 1rem;
padding: 2rem;
border-radius: 8px;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 700px;
    margin: 15px auto 0 auto;
}

.cuadro {
    background-color: rgba(237, 242, 247, 0.863);
    padding: 1rem;
    text-align: center;
}

.cuadro img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}


/*FORMULARIO*/
.form-group {
    margin-bottom: 12px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
}

#resultados {
    margin-top: 2rem;
    padding: 1rem;
    background: rgb(197, 241, 241);
    border: 1px solid rgb(155, 220, 224);
    border-radius: 4px;
}

